.input {
  padding: "10px 15px";
  border: "solid 3px #FFD700";
  border-radius: "5px";
  background-color: "#000";
  width: "25%";
  color: "white";
  font-family: "montserrat";
  font-weight: "bold";
}

.input:focus {
  outline: none;
}
